*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
}

body {
    background-color: rgb(246, 223, 194);
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgb(155, 150, 143);
    border-radius: 20px;
    border: solid;
    padding: 10px;
}

.container #displayResult {
    color: #000000;
    width: 100%;
    padding-block: 20px;
    font-size: 2rem;
    border: none;
    font-weight: bold;
    background-color: rgb(208, 214, 218);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.buttons {
    background-color: rgb(98, 95, 96);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.buttons button{
    height: 80px;
    font-weight: bold;
    font-size: 4rem;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    color: #fff;
    background-color: rgb(80, 76, 76);
    text-align: center;
    box-shadow: 3px 3px 5px black;
}

.buttons .operators,
.buttons .advanced {
    color: #7fff00;
}

.buttons .clear {
    color: #ff0000;
}

.buttons #equal {
    background-color: hsl(90, 100%, 50%);
}

.buttons button:hover {
    background-color: rgb(61, 59, 59);;
}

.buttons button:active {
    background-color: rgb(49, 47, 47);;
}

.buttons #equal:hover {
    background-color: #66b913;
}

.buttons #equal:active {
    background-color: #589021;
}